@{
    ViewData["Title"] = "Home Page";
}
<div class="logo">
    <h3>J.Tucker Designs</h3>
</div>
<div class="mainimg" id="homeimg">
    <img src="~/Images/mainimage.svg" />
</div>


    <button class="adminbtn">ADMIN</button>
    <button class="paymentbtn">PAYMENT</button>


