@{
    ViewData["Title"] = "Home Page";
}
<div class="logo">
    <h3>J.Tucker Designs</h3>
</div>
<div class="mainimg" id="homeimg">
    <img src="~/Images/mainimage.svg" />
</div>


 <button class="adminbtn" onclick="window.location.href = '/Admin/apartment/';"> ADMIN </button> 
<button class="paymentbtn">PAYMENT</button>


