html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 24px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  
}


.logo {
    position: absolute;
    display: block;
    margin-top:5%;
    margin-left:5%;
}
h3 {
    font-family: 'IBM Plex Serif';
}


.mainimg {
    position:absolute;
    display:block;
    margin-left:63%;
    margin-top:3%;
}

.adminbtn {
    position: absolute;
    display: block;
    margin-top: 25%;
    height: 82px;
    margin-left:25%;
}
.paymentbtn {
    position: absolute;
    display: block;
    margin-top: 30%;
    height: 82px;
    margin-left: 25%;
}
button ,btn btn-primary{
    /* admin button */

    
    width: 15%;
   
    height:auto;
    background: #B2CFCA;
    border-radius: 4px;
    border-style:none;
    /* ADMIN */
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}
table,.form {
    display: table;
    border-style: solid;
    border-color: #B2CFCA;
    width:90%;
    height:50px;
}

tr {
}

th {
    background-color: #B2CFCA;
}
td {
    text-align:center;
}
#tenanttable {
    border-style: solid;
    border-color: #B2CFCA;
    width: 90%;
    height: 50px;
}
.btn btn-primary {
}

